body {
  margin: auto;
  height: 99vh;
  width: 95vw;
  min-width: 760px;
  min-height: 560px;
}

h2 {
  margin: 0;
}

.game-body {
  height: 100%;
  width: 100%;
  border: 2px solid black;
  background-color: rgb(207, 224, 223);
}

#info {
  color: rgb(97, 126, 109);
  text-shadow: 1.1px 1.1px rgb(162, 223, 187);
}

.linkedin {
  height: 30px;
}

.game-title {
  font-family: 'Bangers', cursive;
  font-size: 56px;
  text-align: center;
  margin: 0 0 24px 0;
  &-top {
    position: relative;
    right: 61px;
    bottom: 24px;
  }
  &-bottom {
    position: relative;
    bottom: 44px;
    left: 30px;
  }
}

#game-container {
  margin: auto;
  width: 85%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 64px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16%;
  width: 36%;
  background-color: rgb(63, 74, 139);
  color: rgba(233, 232, 232, 0.966);
  text-shadow: 1.1px 1.1px rgb(66, 155, 206);
  border: 2.2px solid rgb(163, 157, 187);
  font-family: 'Roboto Slab', serif;
  border-radius: 15px;
  margin-bottom: 20px;
  span {
    opacity: 0;
    transition: all 0.4s ease; 
    font-size: 12px;
    &.fade{
      opacity: 1;
      font-size: 20px;
    }
  }
}

#start-container,
#play-container, 
#result-container {
  height: 55%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  background-color: rgb(228, 228, 205);
  border: 3px solid rgba(173, 147, 147, 0.904);
  border-radius: 10px;
}

#start-container {
  flex-direction: row;
  justify-content: center;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  position: relative;
  right: 12px;
  font-family: 'Roboto Slab', serif;
  line-height: 12px;
  button {
    margin-top: 48px;
  }
}

.music {
  height: 128px;
  position: relative;
  right: 20px;
  transform: rotate(-10deg);
}

.keyboard {
  height: 152px;
  transform: rotate(15deg);
}

#text-snippet {
  font-size: 20px;
  padding-left: 20px;
  font-family: 'Roboto Slab', serif;
}

#play, #playagain {
  width: 75%;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(121, 69, 56);
  background-color: rgb(187, 155, 114);
  border: 2.2px solid #a8766d;
  border-radius: 4px;
  cursor: pointer;
}

#playagain {
  width: 40%;
}

#play:hover, #playagain:hover {
  background-color: rgba(180, 141, 105, 0.89);
  color: rgb(122, 22, 12);
  border: 2.2px solid #9b7a67;
  box-shadow: none;
}

.input {
  background-color: transparent;
  margin-top: 2rem;
  width: 92%;
  height: 120px;
  font-size: 0.5rem;
  border: 2px solid #d3d3be;
  border-radius: 10px;
  outline: none;
  resize: none;
  padding: .5rem 1rem;
  font-size: 20px;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.decor {
  height: 64px;
}

#playagain {
  margin-top: 30px;
}

.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11%;
  height: 9%;
  margin-top: 16px;
  letter-spacing: 3px;
  font-weight: 600;
  border: 2px solid darkslateblue;
  border-radius: 10px;
}


